@font-face {
  font-family: "fl-icons";
  font-display: block;
  src: url("../assets/icons/fl-icons.eot");
  src: url("../assets/icons/fl-icons.eot#iefix") format("embedded-opentype"),
    url("../assets/icons/fl-icons.html") format("woff2"),
    url("../assets/icons/fl-icons.ttf") format("truetype"),
    url("../assets/icons/fl-icons.woff") format("woff"),
    url("../assets/icons/fl-icons.svg#fl-icons") format("svg");
}
