.header-nav.nav>li>a{font-weight:400}body p{color:#666;font-family:\"SVN-Avo\", -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Oxygen-Sans, Ubuntu, Cantarell, \"Helvetica Neue\", sans-serif;
}

footer#footer {
    border-top: 10px #fff400 solid;
}

.absolute-footer {
    display: none;
}


.estp-tab-wrapper .estp-tab-element span {
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 3px 0 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px;
}

.estp-tab-wrapper.estp-template-11 .estp-inner-tab-wrapper .estp-tab-element {
    border-bottom: 1px #505050 solid !important;
    border-right: 1px #505050 solid !important;
    border-top: 1px #505050 solid !important;
}

.footer-address p {
    margin-bottom: 10px;
}

.header-nav .nav-dropdown li {
    width: 300px;
}

.hide {
    display: none;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.lotrinhcuatre-input .col-style-1 {
    padding-bottom: 0px;
}

.lotrinhcuatre-input .section-title-container {
    margin: 0px;
}

.lotrinhcuatre-input .section-title-main {
    border-bottom: 0px;
}

.lotrinhcuatre-input .section-title-normal {
    border-bottom: 0px;
}

.nav-sidebar.nav-vertical>li+li {
    border: none !important;
}

.nav.top-bar-nav .menu-item a {
    color: white;
    font-weight: bold;
}

.nav.top-bar-nav .menu-item {
    font-weight: bold;
    /* background-color: #f6eb01; */
    padding: 0px 30px;
    margin: 0px;
    /* border-right: 1px black solid; */
    /* border-left: 1px black solid; */
}

.nav.top-bar-nav .menu-item:first-child {
    /* border-right: none; */
}

.nav.top-bar-nav .menu-item:hover a {
    color: black;
}


.off-canvas-right .mfp-content,
.off-canvas-left .mfp-content {
    width: 420px !important;
    background: -webkit-linear-gradient(-45deg, rgba(182, 190, 19, .95) 0, rgba(127, 162, 29, .95) 80%);
    text-align: center;
}

.off-canvas:not(.off-canvas-center) .nav-vertical li>a {
    color: #191919;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    position: relative;
    padding-right: 15px;
}

.section-lotrinhchotre-input .row-style-1 {
    background: white;
    padding: 15px 30px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: auto !important;
    width: 100% !important;
}

.section-lotrinhchotre-input h3.section-title.section-title-center b {
    opacity: 0;
}

.text-success {
    color: #8ab610;
}

.undeline {
    text-decoration: underline;
}

#footer .button-style-1 {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 400;
}

#footer .section-title-container {
    margin-bottom: 4px;
}


.off-canvas .search-field,
.off-canvas button.ux-search-submit {
    height: 55px;
}

.off-canvas button.ux-search-submit {
    height: 55px;
    width: 55px;
    background: #f6eb01;
    color: black;
}

.off-canvas .searchform-wrapper {
    border-radius: 30px;
    overflow: hidden;
}



.stuck #masthead {
    border-bottom: 2px solid #8ab610;
}

.off-canvas:not(.off-canvas-center) .nav-vertical li ul a {
    text-align: left;
}

.off-canvas:not(.off-canvas-center) .nav-vertical li ul a:before {
    font-family: 'fl-icons' !important;
    speak: none !important;
    margin: 0;
    padding-right: 25px;
    display: inline-block;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    position: relative;
    line-height: 1.2;
    content: "\f105"}.stuck #masthead.has-sticky-logo #logo{width:100px;text-align:center}.stuck #masthead.has-sticky-logo #logo img{margin:auto;max-width:75%}.header-wrapper.stuck,.header-shadow .header-wrapper,.layout-shadow #wrapper{border-bottom:2px solid #8ab610}.header-language-dropdown .language-text{display:none}.text-justify,.text-justify *{text-align:justify}.elementor-element .elementor-post__card .elementor-post__badge{background-color:red!important;font-weight:500;top:-20px;left:-20px!important}#top-bar{background:#5e9d45!important}.header-main .nav>li>a{font-weight:bold!important;text-transform:uppercase}#search-lightbox .searchform-wrapper .autocomplete-suggestions{background:#fff}#search-lightbox .searchform-wrapper .autocomplete-suggestions{color:#000;font-size:15px}#search-lightbox .ux-search-submit{height:35px!important}.page-template-page-cart .checkout-button{background:red!important}.single_add_to_cart_button{background-color:#ff0000!important}.off-canvas-right #main-menu a{text-transform:uppercase!important}